.node rect { fill-opacity: .9;  shape-rendering: crispEdges;}.node text {  pointer-events: none;  text-shadow: 0 1px 0 #fff;}.link {  fill: none;  stroke: #000;  stroke-opacity: .2;}.link:hover {  stroke-opacity: .5;}
rect, .interactive {cursor:pointer;}
.interactive {padding: 3px; border-radius:2px; background-color: #eeeeee; border: 1px solid #eeeeee;}
.interactive:hover, .metric:hover {border: 1px solid #black; background-color: #666666; color:white}
.interactive:hover a {color:#D1FFB3;}

.metric-detail { font-size: 70%; margin-left: 20px; text-align: right;}
.green {color: #26963C;}
