<fieldset>
	<div class="control-group">
		<label for="firstName" class="control-label">First name</label>
		<div class="controls">
			<input type="text" id="firstName" name="firstName">
		</div>
	</div>
	<div class="control-group">
		<label for="lastName" class="control-label">Last name</label>
		<div class="controls">
			<input type="text" id="lastName" name="lastName">
		</div>
	</div>
	<div class="control-group">
		<label for="company" class="control-label">Company</label>
		<div class="controls">
			<input type="text" id="company" name="company">
		</div>
	</div>
	<div class="control-group">
		<label for="email" class="control-label">Email<sup>*</sup></label>
		<div class="controls">
			<input type="email" id="email" name="email" required>
		</div>
	</div>
	<div class="control-group">
		<label for="message" class="control-label">Message<sup>*</sup></label>
		<div class="controls">
			<textarea rows="3" id="message" name="message" class="input-block-level" placeholder="Please briefly describe your needs." required></textarea>
		</div>
	</div>
	<input id="contactType" name="contactType" type="hidden">
</fieldset>
