<!-- begin layout.category -->
<div class="page-wrapper">
<div class="container category">
	<%- partial('_partial/header') %>

	<%- partial('_partial/archive', {pagination: config.category, index: true}) %>

	<%- partial('_partial/footer') %>
</div>
</div>
<!-- / layout.category -->
