<!-- begin layout.contact -->
<div class="page-wrapper">
	<div class="container">
		<section>
			<a class="brand" rel="home" href="/">
				<img src="/img/mango-information-systems-logo.png" class="u-img-responsive" alt="Mango Information Systems" width="400px" height="74px">
			</a>
			<h1>Let's talk!</h1>

			<noscript>
					<p>Please email us at <a href="mailto:contact@mango-is.com">contact@mango-is.com</a></p>
			</noscript>
			<%- partial('_partial/contactForm') %>

		</section>

		<%- partial('_partial/footer') %>

	</div>
</div>

<%- partial('_partial/after-footer') %>
<!-- / layout.contact -->
