<div class="page-wrapper">
	<div class="container">
		<%- partial('_partial/header') %>
		
		<section style="background:url('/img/bg-pattern-2x.jpg') repeat fixed; background-size: 75px 62px;">
			<h1>Let's talk!</h1>

			<%- partial('_partial/contactForm') %>
			
		</section>
		
		<%- partial('_partial/footer') %>

	</div>
</div>

<%- partial('_partial/after-footer') %>
