<!-- begin layout.index -->
<div class="page-wrapper">
	<div class="container index">
		<%- partial('_partial/header') %>

		<%- partial('_partial/archive', {pagination: config.category, index: true}) %>

		<%- partial('_partial/footer') %>
	</div>
</div>

<%- partial('_partial/after-footer') %>
<!-- begin layout.index -->
