<!-- begin layout.landing -->


<div class="page-wrapper">
	<div class="container<% if (page.wide)  { %>-wide"<% } %> landing <% if (is_home()) { %> home <% } %>">

	<%
	page.sections.forEach(function(section, index) {
	%>
		<%-
			partial('_partial/default-section', {data: section, isFirst: index == 0})
		%>
		<%
	 }) %>

	<%- partial('_partial/footer') %>

	</div>
</div>

<%- partial('_partial/after-footer') %>

<!-- / layout.landing -->
