<div class="page-wrapper">
<div class="container">

<%
page.sections.forEach(function(section, index) { %>
	<%-
		partial('_partial/default-section', {data: section, isFirst: index == 0})
	%>

<%
 }) %>


</div>
<%- partial('_partial/footer') %>
</div>
