<!-- begin layout.post -->
<div class="page-wrapper">
	<div class="container">
			
		<%- partial('_partial/header') %>
		
		<section>
			<div class="row">
				<div class="xs-eleven lg-nine columns">
					
					<%- partial('_partial/article', {post: page, index: false}) %>
					
				</div>
				<div class="xs-twelve lg-three columns">
				
					<%- partial('_partial/sidebar') %>

				</div>
			</div>
		</section>
		
		<%- partial('_partial/footer') %>

	</div>
</div>

<!-- begin layout.post -->
