.node rect { fill-opacity: .9;  shape-rendering: crispEdges;}.node text {  pointer-events: none;  text-shadow: 0 1px 0 #fff;}.link {  fill: none;  stroke: #000;  stroke-opacity: .2;}.link:hover {  stroke-opacity: .5;}
rect, .interactive {cursor:pointer;}
.interactive {padding: 3px; border-radius:2px; background-color: #eeeeee; border: 1px solid #eeeeee;}
.interactive:hover, .metric:hover {border: 1px solid #black; background-color: #666666; color:white}
.interactive:hover a {color:#D1FFB3;}

.metric {padding: 6px; border-radius:6px; border: 3px solid #666666;}
.metric-val { font-size: 60px; font-size: 4vw; line-height:100%;}
.metric-detail { font-size: 24px; line-height:100%;}
.green {color: #26963C;}
.metric-title { font-size:24px; font-weight:bold; line-height:100%;}

/* Smaller than phablet */
@media (max-width: 550px) {
	.metric {
		margin-top: 15px;
	}
}
