/* user panel */
#user, #legend {
	font-size: .7rem;
	line-height: 1.1rem;
}

#user h4{
	font-size: 1rem;
	margin-top: 0;
	margin-bottom: .5rem;
}

#user img{
	display: block;
	max-width: 64px;
	height: auto;
	padding-right: .25rem;
	margin-bottom: .5rem;
}

#user p {
	margin-bottom: 0;
}
#user .metric {
	font-size: 1.6rem;
	margin-top: .5rem;
}
#user .metric-legend {
	margin-bottom: .5rem;
	font-size: .6rem;
	color: #aaa;
}

/* Editable legend */
input[type=text] {
	display: inline-block;
	height: 1.5rem;
	max-width: 90%;
	margin-bottom: .25rem;
	padding: .2rem .4rem;
}

/* SVG */
text {
	font-size: .44rem;
	text-anchor: middle;
}

path {
	fill: none;
}
