
body {
	font-size: .8rem;
	line-height: 1.4rem;
}


@media (min-width: 560px) {
  /* Larger than phablet (also point when grid becomes active) */

	body {
		font-size: 1rem;
		line-height: 1.6rem;
	}

}

/* Blog post specific styles */

.published-meta {
  background-color: #ededed;
  padding:2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
 }

.index h1, .category h1  {
  font-size: 2.2rem;
  line-height: 1.1;
  text-align: center;
}

.index h2 a, .category h2 a { text-decoration: none; }
.index h2, .category h2  { font-size: 1.6rem; line-height: 1.2; }

.article-category small, .article-category a  { color: #565656; font-size: 70%; text-decoration: none; }

.archive-post { margin-bottom: 4rem; }

.page-number {
	margin: 0 .25rem;
}

#article-end {
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
}
#page-nav {
	margin-bottom: 1rem;
}

.postFooter {
	margin-top: 1rem;
}

.postFooter, .postFooter a {
	color: #565656;
	text-decoration: none;
}

@media (max-width: 560px) {

  .archive-post {
	padding-bottom: 1rem;
	border-bottom: 1px solid #ccc;
	margin-bottom: 2rem; }

  .index h2, .category h2  { font-size: 1.6rem; line-height: 1.05; }
  .post-thumb { margin-bottom: 2rem; }

}
/* Larger than phablet */

@media (min-width: 560px) {

  .post-thumb { margin-top: 2rem; }

}

/* POST */

article.post {
	margin-top: 3em;
}

.post h1 {
	font-size: 1.6rem;
	letter-spacing: 0.008rem;
}

.post h1 small {
	color: #565656;
	font-size: 70%;
	letter-spacing: 0.0225rem;
}

.post h2 {
	font-size: 1.4rem;
	line-height: 1.5rem;
	color: #000;
	margin-top: 1.8rem;
}

.post h3 {
	font-size: 1.2rem;
	line-height: 1.3;
	color: #000;
	margin-top: 1.4rem;
	margin-bottom: 1.2rem;
}


@media (min-width: 720px) {
  /* Larger than tablet */

	.post h1 {
		font-size: 2.2rem;
		line-height: 2.8rem;
		letter-spacing: 0.008rem;
	}

	.post h2 {
		font-size: 2rem;
		line-height: 1.05;
		color: #000;
		margin-top: 2rem;
	}

	.post h3 {
		font-size: 1.6rem;
		line-height: 1.3;
		color: #000;
		margin-top: 2rem;
		margin-bottom: 1.6rem;
	}

}



#header a, #sidebar, #sidebar a{
	font-size: .9rem;
	line-height: 1.2rem;
	color: #565656;
}

#sidebar a {
	margin: 0 0 0.5rem 0;
}

#sidebar a:hover {
	color: #e85d00;
}

.nav-link {
	text-decoration: none;
}

.nav-link:hover {
	text-decoration: underline;
}


#sidebar {
	border-top: 1px solid #cccccc;
	margin: 2rem 0;
	padding-top: 1rem;
}

@media (min-width: 960px) {
  /* Larger than desktop */

	#sidebar {
		margin-top: 9rem;
		padding-left: 1rem;
		border-left: 1px solid #cccccc;
		border-top: none;

	}
}
