/* Blog post specific styles */

.published-meta {
  background-color: #ededed;
  padding:2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
 }

/* blog archive */
.divider-year {
  font: Raleway;
  font-size: 1.5rem;
  border-bottom: 1px solid #222;
  width: 100%;
  padding-bottom:0.5rem;
  margin-bottom:2rem;
}

.index h1, .category h1  { font-size: 2.5rem; line-height: 1.1; }

.index h2 a, .category h2 a { text-decoration: none; }
.index h2, .category h2  { font-size: 2rem; line-height: 1.05; }
.index h2 small, .category h2 small  { color: #565656; font-size:70%; }
.article-category small, .article-category a  { color: #565656; font-size:70%; text-decoration:none; }

.archive-post { margin-bottom: 4rem; }

#article-end {
	margin-bottom: 1rem;
}
.postFooter, .postFooter a {
	color: #565656; 
	text-decoration: none;
}

@media (max-width: 560px) {

  .archive-post {
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 2rem; }

  .index h2, .category h2  { font-size: 1.6rem; line-height: 1.05; }
  .post-thumb { margin-bottom: 2rem; }
}



/* POST */

.post h1 { font-size: 2.4rem; line-height: 1.05; }
.post h1 small { color: #565656; font-size:70%; }
.post h2 { font-size: 2rem; line-height: 1.05; color: #000; margin-top:2rem; }
.post h3 { font-size: 1.6rem; line-height: 1.05; color: #000; margin-top:2rem; }
