.container:first-child {
	height: 100%;
}

section {
	min-height: 60%;
	padding-top: 2.5em;
	padding-bottom:2.5em;
	padding-left: 10000px;
	margin-left: -10000px;
	padding-right: 10000px;
	margin-right: -10000px;
}

section a.brand img {

	padding-top: 5rem;
	/* don't let the logo get too small */
	min-width: 300px;
}

section a.brand img {
	margin-top: -3rem;
	margin-bottom: 3rem;
}



@media (min-width: 1200px) {
  /* Larger than Desktop HD */
  
	section {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	
	section a.brand img {

		padding-top: 3rem;
	}
}

/* sections background images */

section:nth-child(odd) {
	background-color: #eee;
    background-image: url("/img/bg-pattern-2x.jpg");
    background-repeat: repeat;
    background-attachment: cover;
    background-size: 75px 62px;
}
section:nth-child(even) {
	background-color: #FCFCFC;
}
 

@media (min-width: 560px) {
	/* Larger than phablet (also point when grid becomes active) */
	section:nth-child(odd) {
		background-attachment: fixed;
	}
}

/* fix jumpy background image on IE... :/ */

@media all and (-ms-high-contrast:none)
{
	section:nth-child(odd) {
		background-attachment: scroll;
	}
	*::-ms-backdrop, section:nth-child(odd) {
		background-attachment: scroll;
	}
}




/* M letter/logo before h1 bullet-list style */

div.landing section h1.small:before {
	content: " ";
	content:url('/img/m.png');
	margin-right:0.5rem;
	top: 0;
	position:relative;
}

div.home section h1.small:before {
	content: none;
}

.sequence-container {
	position: relative;
}

.next-right {
	display:none;
}

.sequence-container .columns:first-child .next-bottom {
	position: absolute;
	top: 31%;
	left: 50%;
	color: #aaa;
}
.sequence-container .columns:nth-child(2) > .next-bottom {
	position: absolute;
	top: 64%;
	left: 50%;
	color: #aaa;
}

@media (min-width: 560px) {
  /* Larger than phablet (also point when grid becomes active) */
  
	.next-bottom {
		display: none;
	}
  
	.next-right {
		display: block;
	}
  
	.sequence-container .columns:first-child .next-right {
		position: absolute;
		top: 50%;
		left: 32%;
		color: #aaa;
	}

	.sequence-container .columns:nth-child(2) > .next-right {
		position: absolute;
		top: 50%;
		left: 65%;
		color: #aaa;
	}
}
