.container:first-child {
	height: 100%;
}

section {
	min-height: 60%;
	padding-top: 2.5em;
	padding-bottom:2.5em;
	padding-left: 10000px;
	margin-left: -10000px;
	padding-right: 10000px;
	margin-right: -10000px;
}

section a.brand img {

	padding-top: 5rem;
	/* don't let the logo get too small */
	min-width: 300px;
}

section a.brand img {
	margin-top: -5rem;
	margin-bottom: 5rem;
}



@media (min-width: 1200px) {
  /* Larger than Desktop HD */
  
	section {
		padding-top: 5.5rem;
		padding-bottom: 5.5rem;
	}
	
	section a.brand img {

		padding-top: 2rem;
	}
}


section:nth-child(odd) {
	background-color: #eee;
    background: url("/img/bg-pattern-2x.jpg") repeat fixed;
    background-size: 75px 62px;
}
section:nth-child(even) {
	background-color: #FCFCFC;
}

/* M letter/logo before h1 bullet-list style */

div.landing section h1.small:before {
	content: " ";
	content:url('/img/m.png');
	margin-right:0.5rem;
	top: 0;
	position:relative;
}

div.home section h1.small:before {
	content: none;
}

/* PRICING TABLES */

.pricing-table thead th {
  background-color: rgb(71,69,70); /* taken from the logo */
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
}

.pricing-table tbody > tr:last-child > td {
  border-bottom: 0;
}

.price {
	color:rgb(71,69,70);
	font-weight:bold;
	text-align:center;
	font-size:120%;
 }
