<!DOCTYPE html>
{% if page.type == 'article' %}
<html lang="{{ page.language }}" itemscope itemtype="http://schema.org/Article" xmlns:og="http://ogp.me/ns#"{% if page.mode == 'offline' %} manifest="/offline.appcache"{% endif %}>
{% else if page.type == 'page' %}
<html lang="{{ page.language }}" itemscope itemtype="http://schema.org/WebPage" xmlns:og="http://ogp.me/ns#"{% if page.mode == 'offline' %} manifest="/offline.appcache"{% endif %}>
{% else %}
<html lang="{{ page.language }}" itemscope itemtype="http://schema.org/Blog" xmlns:og="http://ogp.me/ns#"{% if page.mode == 'offline' %} manifest="/offline.appcache"{% endif %}>
{% endif %}
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{{ page.title }}{% if page.title %} - {% endif %}{% if page.subtitle %} {{ page.subtitle }} - {% endif %}Mango IS</title>
	<meta property="og:title" content="{{ page.title }}{% if page.subtitle %} - {{ page.subtitle }} {% endif %}" />
	<meta itemprop="name" content="{{ page.title }}{% if page.subtitle %} - {{ page.subtitle }} {% endif %}">
	<meta property="og:type" content="{% if page.type %}{{ page.type }}{% else %}blog{% endif %}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta itemprop="description" content="{{ page.description }}">
    <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@mango_info">
	<meta name="twitter:creator" content="@mango_info ">
	<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}"/>
    {% if page.thumbnail %}<meta property="og:image" content="{{ site.url }}/{{ page.thumbnail }}" />
    <meta itemprop="image" content="{{ site.url }}/{{ page.thumbnail }}">
	{% endif %}<meta name="subject" content="{{ page.title }}"/>
	<meta name="description" content="{{ page.description }}" />
	<meta name="author" content="{{ page.author }}" />
	<meta name="format" content="html"/>
	<meta name="language" content="{{ page.language }}"/>
	{% if page.last-update %}<meta name="revised" content="{{ page.last-update  | date: "%Y-%m-%d" }}" scheme="YYYY-MM-DD"/>
	{% endif %}
	{% if page.keywords %}<meta name="keywords" content="{{ page.keywords | join: ',' }}" />
	{% endif %}
	{% if page.prevArticle %}<link rel="prev" href="{{ site.url }}{{ site.baseurl }}/{{ page.categories[0] }}/{{ page.prevArticle }}" />
	{% endif %}
	{% if page.nextArticle %}<link rel="next" href="{{ site.url }}{{ site.baseurl }}/{{ page.categories[0] }}/{{ page.nextArticle }}" />
	{% endif %}
	{% if page.categories[0] =='drafts' %}<meta name="robots" content="noindex, nofollow">{% endif %}

	<!-- CSS -->
	<link rel="stylesheet" href="{{ site.url }}/css/bootstrap.min.css" type="text/css"/>
	<link rel="stylesheet" href="{{ site.url }}/css/bootstrap-responsive.min.css" type="text/css"/>
	<link rel="stylesheet" href="{{ site.url }}/css/syntax.css" type="text/css"/>
	<link rel="stylesheet" href="{{ site.url }}/css/syntax.css" type="text/css"/>
	{% if page.css %}<link rel="stylesheet" href="{{ site.url }}/{{ page.css }}" type="text/css"/>
	{% endif %}
	{% if page.csss %}
		{% for css in page.csss %}
			<link rel="stylesheet" href="{{ site.url }}/{{ css }}" type="text/css"/>
		{% endfor %}
	{% endif %}

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Le fav and touch icons -->
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/img/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>

	{%  if page.type == 'page' %}
		<div class="container">
	{% else %}
		<div class="container-fluid">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a rel="home" href="/" class="brand">
						<img width="145px" height="35px" alt="Mango Information Systems" src="/img/mango-information-systems-logo-medium.png">
					</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li><a href="{{ site.url }}">Home</a></li>
							<li><a href="{{ site.url }}/convert/">Convert</a></li>
							<li class="active"><a href="{{ site.url }}/blog/">Blog</a></li>
							<li><a class="contact" href="{{ site.url }}/contact/">Contact</a></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
	{% endif %}
	{{ content }}
	</div>
	<footer>
		<div class="container">
			<div class="span5">
				<small>
					{% include company-microdata.html %}
				</small>
			</div>
			<div class="span6">
				<small>
					<ul class="unstyled">
						<li><a href="{{ site.url }}/convert/">Conversion optimization</a></li>
						<li class="active"><a href="{{ site.url }}/blog/">Blog</a></li>
						<li><a href="{{ site.url }}/terms/">Copyright - terms of use</a></li>
						<li><a class="contact" href="{{ site.url }}/contact/">Contact</a></li>
					</ul>
				</small>
			</div>
		</div>
	</footer>

	<script src="{{ site.url }}/js/jquery.js"></script>
	<script src="{{ site.url }}/js/bootstrap.min.js"></script>
	<script src="{{ site.url }}/js/jquery-scrollto.js"></script>
	{% if site.ga %}
		<script src="{{ site.url }}/js/jquery.scrolldepth.min.js"></script>
	{% endif %}

	<script src="{{ site.url }}/js/site.js"></script>

	{% if page.scripts %}
		{% for script in page.scripts %}
			<script src="{{ site.url }}/{{ script }}"></script>
		{% endfor %}
	{% endif %}

</body>
</html>
