---
layout: default
type: tool
---
<div class="row-fluid">
	<div class="span12">
		<article>
			<h1 id="{{ page.title | uri_escape }}">{{ page.title }}{% if page.subtitle %} <small>{{page.subtitle}}</small>{% endif %}</h1>

			<div id="post">
			{{ content }}
			<br/>
			</div>
			<hr/>
			<div>
				{% if site.baseurl == '/tool' %}
					<script type="IN/Share" data-counter="right"></script>
					<!-- Place this tag where you want the +1 button to render. -->
					<div class="g-plusone" data-size="medium"></div>
					<!-- Place this tag after the last +1 button tag. -->
					<script type="text/javascript">
					  (function() {
						var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
						po.src = 'https://apis.google.com/js/plusone.js';
						var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
					  })();
					</script>
					<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
				{% endif %}
			</div>
		</article>
	</div>
</div>
