---
layout: default
language: en
title: Analytics and business intelligence technical blog by Mango Information Systems
author: Mango Information Systems
description: Blog posts under category "engineering", about analytics, big data, data visualizations and business intelligence topics.
keywords: dataviz, bi, business intelligence, visualization, d3, graph, olap, reporting, web analytics, social media analytics, api, competitive analytics, profiling, influence, trends, monitoring
thumbnail: mango-is-blog.png
---

<div id="home">
	<h1>Jazzin' data <small>a blog about analytics and data vizualization</small></h1>
	<h2>Engineering <small>Technical articles</small></h2>
	<ul class="thumbnails">
		{% for post in site.categories.engineering %}
			<li class="span4">
				<div class="thumbnail">
					<span class="pull-right">{{ post.date | date_to_string }}</span>
					<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
						{% if post.subtitle %} <small>{{ post.subtitle }}</small>{% endif %}
					</a></h3>
					{% if post.thumbnail %}
						<img src="{{ site.url }}/{{ post.thumbnail }}" alt=""/>
					{% endif %}
					<p>{{ post.content | strip_html | truncatewords: 20 }}</p>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>
