
<div class="u-pull-right">
	<small><a id="logout" href="#" style="color:#565656"><i class="fa fa-sign-out"></i> Logout</a></small>
</div>
<select id="accountSelector" name="accountSelector">
	
	<% accounts.forEach(function(account, i) { %>
			<option value="<%- i %>" <% if (i === 0) { %> selected <% } %> ><%- account.name %></option> 
	<% }) %>

</select>

<div id="dashboardBody" class="row">
	
</div>
