<!-- begin archive-post -->
<div class="row archive-post">

	<div class="one column">
		<%- partial('post/date', {class_name: 'archive-article-date', date_format: 'MMM D'}) %>
	</div>

	<div class="eleven columns">

		<% if (post.thumbnail) { %>

		<div class="three columns">
				<img class="u-max-full-width" src="<%- url_for(post.thumbnail) %>" itemprop="image">
		</div>

		<% } %>

		<div class="eight columns offset-by-one">

		<%- partial('post/title', {class_name: 'archive-article-title'}) %>
		<%- post.description %>

		</div>

	</div>
</div>
<!-- / archive-post -->
