<!-- begin archive-post -->
<div class="row archive-post">

	<div class="two column">
		<%- partial('post/date', {class_name: 'archive-article-date', date_format: 'MMM D'}) %>
	</div>

	<div class="ten column">

		<%- partial('post/title', {class_name: 'archive-article-title'}) %>

		<% if (post.thumbnail){ %>

		<div class="three column">
				<img class="u-max-full-width" src="<%- url_for(post.thumbnail) %>" itemprop="image">
		</div>

		<% } %>

		<div class="seven column offset-by-one">
		<%- post.description %>
		</div>

	</div>
</div>
<!-- / archive-post -->
