<!-- begin archive -->
	<% 
	
	let articlesByTopic = {}
	
	page.posts.each (post => {
		post.tags.each(tag => {
			if (!articlesByTopic[tag.name])
				articlesByTopic[tag.name] = []
				
			articlesByTopic[tag.name].push(post)
		})
		
	})
	
	Object.keys(articlesByTopic).sort().forEach(topic => { %>
		
		<h2><%- topic %></h2>
		
	 <% 
		
		articlesByTopic[topic].sort((a, b) => b.date - a.date).forEach((post, i) => { %>
			<%- partial('archive-post', {post: post}) %> <%
		})
	}) %>
<div class="row">
	<div class="twelve columns">

		<% if (page.total > 1){ %>
			<nav id="page-nav">
				<%- paginator({
					prev_text: "<small><i class='fa fa-chevron-left' aria-hidden='true' style='margin-right:.5rem;'></i></small>",
					next_text: "<small><i class='fa fa-chevron-right' aria-hidden='true' style='margin-left:.5rem;'></i></small>",
					escape: false
				}) %>
			</nav>
		<% } %>
	</div>
</div>

<!-- / archive -->
