
<% _.each(data, function(logo, index) {
	
	if (index % 2 === 0) {
		%>
		<div class="row"><p>
	<% } %>
	
	<div class="one-half column">
		<%- image_tag(logo.href, {
			class: 'u-img-responsive u-center-block'
			, alt: logo.alt
		}) %>
	</div>
	
	<%
	if (index % 2 !== 0) {
		%>
		</p></div>
	<% } 
	
}) %>


