<div itemscope itemtype="http://schema.org/Organization">
	<div>
		<p><span itemprop="name">Mango Information Systems SPRL</span></p>
	</div>
	<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<p>
			<span itemprop="streetAddress">Rue des pères blancs, 4</span><br>
			<span itemprop="postalCode">1040</span>
			<span itemprop="addressLocality">Etterbeek</span><br>
			<span itemprop="addressRegion">Brussels</span>,
			<span itemprop="addressCountry">Belgium</span>.
		</p>
	</div>
	<div>
		<p>
			VAT: <span itemprop="vatID">BE 0829.240.825</span> <span itemprop="taxID" content="0829.240.825"></span><br>
		</p>
	</div>
	<div>
		<p>
			<i class="fa fa-external-link" aria-hidden="true"></i>
 				<a href="http://mango-is.com/" itemprop="url">mango-is.com</a><br>
			<i class="fa fa-linkedin" aria-hidden="true"></i>
 				<a itemprop="sameAs" href="http://www.linkedin.com/company/mango-information-systems-sprl" target = "_blank">company page</a><br>
			<i class="fa fa-twitter" aria-hidden="true"></i>
				<a itemprop="sameAs" href="http://twitter.com/mango_info" target = "_blank">@mango_info</a>
		</p>
	</div>
	<div itemprop="location">
		<span itemscope itemtype="http://schema.org/Place">
			<div itemprop="geo">
				<span itemscope itemtype="http://schema.org/GeoCoordinates">
					<span property="latitude" content="50.826702"></span>
					<span property="longitude" content="4.4002322"></span>
				</span>
			</div>
		</span>
	</div>
</div>
