<h4 class="small">Connect your google account</h4>

<a href="https://accounts.google.com/o/oauth2/v2/auth?response_type=token&redirect_uri=<%- redirectUri %>&client_id=<%- clientId %>&scope=<%- scope %>" class="button cta  button-primary"><i class="fa fa-google"></i> Login</a>
<label><input type="checkbox" name="persist" id="persist"><span class="label-body">remember me</span></label>
