<h4 class="small">Connect your google account</h4>

<a id="login" href="#" class="button cta  button-primary"><i class="fa fa-google"></i> Login</a>
<label><input type="checkbox" name="persist" id="persist"><span class="label-body">remember me (todo)</span></label>
