<form id="contact-form" name="contact-form">
	<p>Send us a message, we'll follow-up shortly</p>
	
	<fieldset>
		
		<div class="row">
			<div class="six columns">
				<label for="name">Name</label>
				<input type="text" id="name" name="name" class="u-full-width">
			</div>
			<div class="six columns">
				<label for="company">Company</label>
				<input type="text" id="company" name="company" class="u-full-width">
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<label for="email">Email<sup>*</sup></label>
				<input type="email" id="email" name="email" required class="u-full-width">
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<label for="message">Message<sup>*</sup></label>
				<textarea id="message" name="message" placeholder="Please briefly describe your needs." required rows="3" class="u-full-width"></textarea>
			</div>
		</div>
		<input id="contactType" name="contactType" type="hidden">
		<button class="button-primary" id="contact-form-submit"><i class="fa fa-envelope" aria-hidden="true"></i> Send</button>
	</fieldset>
</form>
