<!-- begin footer-->
<footer>
  <div class="container">
  <div class="row">
    <div class="columns twelve">

		<p style="max-width: 360px;">
			<a rel="home" href="/"><%- image_tag('/img/logos/alef-logo-and-company-name.svg', {
				class: 'u-img-responsive'
				, alt: 'Alef logo'
				, width: 2750
				, height: 800
			}) %>
			</a>
		</p><br>

    </div>
    <div class="columns twelve">
        <p><i class="fa fa-info-circle" aria-hidden="true"></i> We have moved! Mango Information Systems (Belgium) is now <a href="/">Alef</a> (Spain).</p>
        
    </div>
  </div>
</div>
</footer>
<!-- / footer-->
