<!-- begin footer-->
<footer>
  <div class="container">
  <div class="row">
    <div class="columns twelve">

		<p>
			<a rel="home" href="/"><%- image_tag('/legacy/img/mango-information-systems-logo-dark.png', {
				alt: "Mango Information Systems logo (now Alef)"
				, class: "u-img-responsive"
			}) %>
			</a>
		</p><br>

    </div>
    <div class="columns twelve">
        <p><i class="fa fa-info-circle" aria-hidden="true"></i> We have moved! Mango Information Systems (Belgium) is now Alef (Spain).</p>
        <p>This page is an archive of our older blog (2020-2021).</p>
    </div>
  </div>
</div>
</footer>
<!-- / footer-->
