<footer>
  <div class="row">
    <div class="columns five">
      <small>
        <%- partial('company-microdata') %>
      </small>
    </div>
    <div class="columns six">
      <small>
        <ul class="unstyled">
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/corporate-business-intelligence/">Business Intelligence</a></li>
          <li><a href="/convert/">Conversion optimization</a></li>
          <li><a href="/terms/">Copyright - terms of use</a></li>
          <li><a class="contact" href="/contact/">Contact</a></li>
        </ul>
      </small>
    </div>
  </div>
</footer>
