<!-- begin header -->
<header>
	<div class="row">
		<div class="lg-five column">
			<a class="brand nav-link" rel="home" href="/">
				<%- image_tag('/img/mango-information-systems-logo.png', {
					class: 'u-img-responsive'
					, alt: 'Mango Information Systems'
				}) %>
			</a>
		</div>
	</div>
</header>
<!-- / header -->
