<!-- begin person -->
<div class="row person">

	<div class="columns

		lg-two lg-offset-by-one
		md-two md-offset-by-one
		sm-ten sm-offset-by-one">

		<%- image_tag(data.image.href, {
			class: 'u-img-responsive u-pull-left profile-photo'
			, alt: data.name
		}) %>

	</div>
	<div class="columns lg-seven md-eight sm-twelve">

		<%- data.bio %>

	</div>

</div>
<!-- /  person -->
