<div class="row person">

	<div class="column nine">

		<%- image_tag(data.image.href, {
			class: 'u-img-responsive u-pull-left'
			, alt: data.name
			, width: data.image.width
			, height: data.image.height
		}) %>

		<%- data.bio %>

	</div>

</div>
