<div class="row">
	<div class="u-pull-left">
		<%- image_tag(data.image.href, {
			class: 'u-img-responsive'
			, alt: data.name
			, width: data.image.width
			, height: data.image.height
		}) %>
	</div>
	<div>
		<p>
			<%- data.bio %>
		</p>
	</div>
</div>
