<!-- begin person -->
<div class="row person">

	<div class="columns md-two md-offset-by-one
		sm-six sm-offset-by-zero
		xs-six">

		<%- image_tag(data.image.href, {
			class: 'u-img-responsive u-pull-left profile-photo'
			, alt: data.name
			, width: data.image.width || ''
			, height: data.image.height || ''
		}) %>

	</div>
	<div class="columns md-seven sm-twelve xs-twelve">
		<% if (data.name) { %>

		<h4><%- data.name %>

			<% if (data.title) { %>
			<br><small><%- data.title %></small>
			<% } %>

		</h4>

		<% } %>

		<%- data.bio %>
	</div>

</div>
<!-- /  person -->
