<!-- begin reference -->
<div class="row reference">

		<div class="columns

				lg-two lg-offset-by-one
				md-three 
				sm-ten sm-offset-by-one">

			<%- image_tag(data.image.href, {
			class: 'u-img-responsive u-pull-left profile-photo'
			, alt: data.image.alt
			}) %>
		</div>

		<div class="columns
							lg-seven lg-offset-by-one
							md-eight md-offset-by-one
							sm-twelve">
			<blockquote>
				<%- data.quote %>
			</blockquote>
			<cite>
				<%- data.author %>, <%- data.title %>
			</cite>
		</div>

</div>
<!-- / reference -->
