<!-- begin reference -->
<div class="row reference">

		<div class="columns

				lg-three lg-offset-by-one
				md-three
				sm-six
				xs-eight
				">

			<%- image_tag(data.image.href, {
			class: 'u-img-responsive u-pull-left profile-photo'
			, style: 'margin-bottom: 2.5rem;'
			, alt: data.image.alt
			}) %>
		</div>

		<div class="columns
							lg-seven lg-offset-by-one
							md-eight md-offset-by-one
							sm-twelve
							xs-twelve">
			<blockquote>
				<%- data.quote %>
			</blockquote>
			<cite>
				<%- data.author %>, <%- data.title %>
			</cite>
		</div>

</div>
<!-- / reference -->
