<!-- begin sidebar -->
<aside id="sidebar">

	<% for (var link in site.data.menu){
	  if (['/terms/'].indexOf(site.data.menu[link]) === -1) {

	  %>
		<a href="<%- url_for(site.data.menu[link]) %>"><%= link %></a>
  <% }
  } %>
  
  <a title="rss feed" href="<%- url_for('/blog/atom.xml') %>"><i class="fa fa-rss-square" aria-label="RSS feed"></i></a>

</aside>
<!-- / sidebar -->
