<!-- begin sidebar -->
<aside>


	<div class="card">
		<div class="row">
			
			<div class="twelve columns">
				<%- site.data.about %>
			</div>
		</div>
		
		<br/>
		
		<div class="row">
		
			<% for (var link in site.data.menu){
			  if (['/terms/'].indexOf(site.data.menu[link]) === -1) {

			  %>
				<div class="xs-six lg-twelve columns">
					<a class="nav-link" href="<%- url_for(site.data.menu[link]) %>"><%- link %></a>
				</div>
		  <% }
		  } %>
		  
		</div>
		
		<br/>
		
<!--
		<div class="row">
		  
			<div class="xs-six lg-twelve columns">
				<a class="nav-link" title="rss feed" href="<%- url_for(config.feed.path) %>"><i class="fa fa-fw fa-rss-square" aria-label="RSS feed"></i> RSS</a>
			</div>
		</div>
-->
	</div>


</aside>
<!-- / sidebar -->
