<% if (hasError) {%>
	<div class="alert alert-danger">
		<h5>Oops, login failed</h5>
		<p>Something went wrong when trying to connect to your stackExchange account. Sorry about this.</p>
		<p>Would you mind trying again?</p>
	</div>
<% } %>

<h4 class="small">Connect your stackExchange account</h4>

<a id="login" href="#" class="button cta button-primary"><i class="fa fa-stack-exchange" aria-hidden='true'></i> Login</a>

<p><small>All the data stays in your browser, Mango Information Systems does not access it.</small></p>
